# Local env
.venv

#IDE configs
.idea
.vscode

# python verions
.python-version

# pytest html report
report.html

#python cache
**/__pycache__
*.py[cod]

assets

# tmp folders
logs
tmp
__pycache__
pacts
